
footer{
  padding-top:5vw;
  width:100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5vw;
  background-color: #ffffff;
}
footer .col-3{
  padding: 0;
}
footer .finfo a{
  display: block;
  padding: 1vw;
}
footer .finfo a:hover{
  text-decoration: none;
  font-size: 1.8vw;
}
footer input[type=text]{
  height:100%; width:100%;padding:1vw; text-align:center;
}
ul{
  margin: 0;
  padding: 0;
}
.finfo{
  margin-top: 3vw;
  border-top: 1px solid #000;
  padding-top: 5vw;

}
footer h1{
  font-size: 4vw;
}
footer h4{
  margin-bottom: 40px;
  font-size: 2vw;
}

.icon-footer img{
  width:3vw;
  margin:2vw auto 2vw auto;
}
#div{
  height:5vw;
  border-right: 1px solid #000;
  margin-bottom: 2vw;
}
.bor{
  border: 1px solid #000;
  width: 100%;
  padding-top: 1vw;
  padding-bottom: 1vw;
  overflow: hidden;
}
