@import
	url(https://fonts.googleapis.com/css?family=Roboto:500,100,300,700,400)
	;

body {
	overflow-x: hidden;
}

h3 {
	font-size: 4vw;
}

span {
	font-size: 2.5vw;
}

.back-gr {
	background-image:
		url('https://images.pexels.com/photos/1050244/pexels-photo-1050244.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
	background-size: cover;
	background-position: center;
	position: fixed;
	bottom: 100px;
	left: 0;
	width: 100%;
	z-index: -10;
	height: 242px;
}

#s1 {
	background-image:
		url('https://as1.ftcdn.net/jpg/01/74/25/24/500_F_174252433_yiV7IJlXv3VuKQRoI3sgT7FeNediFca3.jpg');
	background-size: cover;
	background-position: center;
}

.content {
	position: relative;
	background-color: #ffffff;
}
/* .carousel-item{
  height: 250px;
  background-size: cover;
  background-position: center;
  margin-bottom: 30px;
} */
.space {
	padding: 5vw;
	height: 30vw;
	display: block;
	position: relative;
	font-size: 2.3vw;
	text-align: center;
}

.relate {
	font-size: 1.5vw;
	margin-bottom: 1rem;
	-webkit-box-shadow: 13px 16px 37px -4px rgba(0, 85, 170, 0.39);
	-moz-box-shadow: 13px 16px 37px -4px rgba(0, 85, 170, 0.39);
	box-shadow: 13px 16px 37px -4px rgba(0, 85, 170, 0.39);
}

.relate h3 {
	font-size: 2.5vw;
}

.relate img {
	margin: 5px auto;
	border-radius: 5px;
}

.category h3 {
	font-size: 2.6vw;
}

.category .col-md-6 {
	padding: 0;
}

.category .row {
	border-bottom: 1px solid #bbb;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.cate {
	display: block;
	font-size: 2vw;
	padding: 0.5vw;
	position: relative;
	height: 4vw;
}

.cate-center {
	text-align: center;
	font-size: 2vw;
}

.cate a:hover {
	text-decoration: none;
	color: #44f;
	font-size: 2.5vw;
	transition: 0.3s;
}

.cate input[type=checkbox] {
	height: 2vw;
}

.cate input[type=number] {
	width: 100%;
}

.product {
	margin-bottom: 1rem;
	position: relative;
	z-index: 0;
	text-align: center;
}

.list-product .product {
	-webkit-box-shadow: 1vw 1.2vw 3.4vw -0.2vw rgba(0, 85, 170, 0.39);
	-moz-box-shadow: 1vw 1.2vw 3.4vw -0.2vw rgba(0, 85, 170, 0.39);
	box-shadow: 1vw 1.2vw 3.4vw -0.2vw rgba(0, 85, 170, 0.39);
}

.product:hover {
	-webkit-box-shadow: 1vw 1.2vw 3.4vw -0.2vw rgba(231, 166, 26, 0.39);
	-moz-box-shadow: 1vw 1.2vw 3.4vw -0.2vw rgba(231, 166, 26, 0.39);
	box-shadow: 1vw 1.2vw 3.4vw -0.2vw rgba(231, 166, 26, 0.39);
}

.act .image {
	filter: brightness(70%);
	border-radius: 10px;
}

.basket {
	display: none;
}

.act .basket {
	position: absolute;
	top: 40%;
	left: 40%;
	right: 40%;
	display: block;
	z-index: 3;
}

.act .basket img {
	width: 100%;
}

.im {
	position: relative;
	z-index: 0;
	top: 0;
	left: 0;
	border-radius: 10px;
}

.hot {
	position: absolute;
	z-index: 1;
	top: 5%;
	right: 5%;
	width: 20%;
}

.sale {
	position: absolute;
	z-index: 1;
	color: #fff;
	background-color: #00ff00;
	width: 10vw;
	border-radius: 0.4em;
	padding: 1vw;
	top: 5%;
	left: 5%;
	font-size: 2vw;
}

.list-product .name {
	font-size: 2.5vw;
	height: 5vw;
}

.name:hover {
	text-decoration: none;
}

.list-product .info {
	position: relative;
	color: #00f;
	text-align: center;
	font-size: 2vw;
}

.link {
	font-size: 1.3vw;
	padding: 0.3vw;
	height: 3vw;
}

.link:hover {
	font-size: 1.5vw;
	padding: 0 0.1vw;
}

.star-rate {
	position: relative;
	display: inline-block;
	text-align: center;
	font-family: FontAwesome;
	margin: auto;
}

.star-inner {
	position: absolute;
	top: 0;
	left: 0;
	white-space: nowrap;
	overflow: hidden;
	width: 0;
}

.star-rate::before {
	content: "\f006 \f006 \f006 \f006 \f006";
}

.star-inner::before {
	content: "\f005 \f005 \f005 \f005 \f005";
	color: #f8ce0b;
}
/* for shopping cart */
.cart-head {
	background-image:
		url("https://png.pngtree.com/thumb_back/fh260/back_pic/05/07/59/205976bda2ca9bd.jpg");
	background-position: center;
	background-size: cover;
	height: 250px;
}

.table {
	text-align: center;
	font-size: 2vw;
}

.btn {
	display: inline-block;
}

.table-img {
	width: 30%;
}

.quanti {
	width: 90%;
	margin-left: 10%;
	height: 4vw;
}

.table-quantity .col-6 {
	padding: 0;
}

.table-quantity .btn {
	padding: 0;
	width: 4vw;
	height: 4vw;
}

.table-quantity img {
	width: 2vw;
}

.type-bg .h3 {
	text-align: center;
	font-size: 4vw;
	position: absolute;
	top: 9vw;
	width: 50%;
	left: 25%;
	background-color: rgb(120, 120, 255);
	color: white;
	mix-blend-mode: multiply;
	padding: 2vw 0;
	border-radius: 2vw;
}

.type-bg .feature {
	background-color: rgb(120, 220, 100);
	color: white;
	mix-blend-mode: multiply;
	font-size: 2.5vw;
}

.list-product .image {
	height: 25vw;
}

.list-product .im {
	padding: 1vw;
}

.list-product .pagination {
	position: relative;
	left: 40%;
	width: 20%;
	font-size: 2vw;
	margin-top: 3vw;
}

@media ( min-width : 768px) {
	.list-product .image {
		height: 20vw;
	}
}

@media ( min-width : 576px) {
	.back-gr {
		height: 392px;
	}
	/* .carousel-item ,  */
	.cart-head {
		height: 300px;
		margin-bottom: 40px;
	}
	label.star {
		font-size: 10px;
		padding-right: 7px;
	}
}

@media ( min-width : 768px) {
	.back-gr {
		height: 506px;
	}
	.sale {
		font-size: 1.3vw;
		width: 6vw;
		padding: 0.4vw;
	}
	.list-product .name, .list-product .info {
		font-size: 2vw;
	}
	.relate {
		font-size: 1.4vw;
	}
	.cate input[type=checkbox] {
		height: 1vw;
	}
	.category h3 {
		font-size: 2vw;
	}
	.link {
		font-size: 0.8vw;
		padding: 0.1vw;
		height: 1.7vw;
	}
	.link:hover {
		font-size: 1vw;
		padding: 0;
	}

	/* .carousel-item ,  */
	.cart-head {
		height: 350px;
		margin-bottom: 50px;
	}
	h3 {
		font-size: 2.5vw;
	}
	span {
		font-size: 1.4vw;
	}
	label.star {
		font-size: 15px;
		padding-right: 12px;
	}
	.table-quantity .btn {
		padding: 0.7vw;
	}
}

@media ( min-width : 992px) {
	.back-gr {
		height: 662px;
	}
	.sale {
		font-size: 1vw;
		width: 5vw;
		padding: 0.5vw;
	}
	/* .carousel-item ,  */
	.cart-head {
		height: 450px;
	}
	label.star {
		font-size: 20px;
		padding-right: 15px;
	}
}